<div class = "container">
    <div class = "row">
      <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2><strong>本当に退会しますか？</strong></h2>
        <p>退会すると、会員登録情報や</p>
        <p>これまでの購入履歴が閲覧できなくなります。</p>
        <p>退会する場合は、「退会する」をクリックしてください。</p>
      </div>
      <div>
        <%= link_to "退会しない", public_customer_path(current_customer), class: "btn btn-sm btn-danger destroy_book" %>
      </div>
      <div>
        <%= link_to "退会する",  root_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_customer" %>
      </div>
    </div>
</div>
