
    <%= form_with url: public_search_path, method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :content, size: "25", placeholder: "商品検索" %>
      <%#= f.select :model, options_for_select({"商品名" => "item"}) %>
      <%#= f.select :method, options_for_select({"一部検索" => "partial"}) %>
      <%#= f.submit '検索', class: "btn btn-success" %>
      <%= button_tag '<i class="fa fa-search"></i>'.html_safe, :type => "submit", :class =>"btn btn-success" %>
      </div>
    <% end %>

